.sup{
    height: 100%;
    display: grid;
    grid:
        "header header header" auto
        "leftSide body rightSide" 1fr
        "footer footer footer" auto
        / auto 1fr auto;
    gap: 8px;
}

.paper_sheet{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 30px;
    grid-area: body; 
}

.cv{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 20px 30px; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.column_data{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.sub_section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.zoom{
    transition:  210ms;
}

.zoom:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 110%;
    height: 110%;
    transition:  210ms;
}

.format_card{
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #0787c2;
    box-shadow: 2px 2px 5px 1px #000000;
    border-radius: 10px;
}

.major{
    width: 100%;
    font-family: "Space Mono", monospace;
    text-align: center;
    font-size: 35px;
    color: #007ef5;
    background-color: #fff;
    text-shadow: #000000 2px 2px 2px;
}

.name{
    width: 100%;
    height: max-content;
    font-family: "Tahoma";
    text-transform: capitalize;
    text-align: center;
    text-justify: center;
    font-size: 35px;
    color: #fff;
}

.img_u{
    width: 150px;
    height: 150px;
    background: #fff center center/contain no-repeat;
    background-image: url(../img/placeholder.jpg);
    margin: 5px;
    border: 10px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 2px #000000;
    transition:  200ms;
}

.img_u:hover{
    width: 160px;
    height: 160px;
    background: #fff center center/contain no-repeat;
    background-image: url(../img/placeholder.jpg);
    margin: 0px;
    border: 10px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 25px 2px #000000;
    transition:  200ms;
}

.header{
    background-color: #007ef5;
    grid-area: header; 
}

.section_header{
    font-family: "Tahoma";
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    text-shadow: #809cd3 2px 2px 5px;
}

.contact {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    background-color: #809cd3;
    box-shadow: -5px 0px 10px 1px #000000;
    position: fixed;
    bottom: -100%; 
    transition: bottom 0.5s ease;
}

.contact.show {
    bottom: 0;
}

.contact_button {
    position: fixed;
    bottom: -100%; 
    transition: bottom 0.5s ease;
}

.contact_button.show {
    bottom: 0;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.data{
    text-align: center;
    width: 100%;
    background: #809cd3;
    color: #fff;
    border: 0px #ffffff00;
}
/*.leftSide { grid-area: leftSide; }
.rightSide { grid-area: rightSide; }
.footer { grid-area: footer; }*/